Django>=5.2,<6.1
djangorestframework>=3.16,<4
djangorestframework-simplejwt>=5.5,<6
celery[redis]>=5.5,<6
psycopg[binary]>=3.2,<4
gunicorn>=23,<24
openpyxl>=3.1,<4
xlrd>=2.0,<3
pandas>=2.3,<4
numpy>=2.2,<3
scikit-learn>=1.7,<2
mlxtend>=0.23,<1
